name: build and publish

# TODO:
# - add the `workflow_run` event and remove the `build` and `publish` jobs from the `auto-build-and-publish.yml` workflow

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'ethereum/solidity repository tag to build'
        required: true
        type: string

permissions: {}

jobs:
  fetch-tags:
    runs-on: self-hosted
    outputs:
      current_tag: ${{ steps.solc-release.outputs.current_tag }}
      release_tag: ${{ steps.solc-release.outputs.release_tag }}
      release_version: ${{ steps.solc-release.outputs.release_version }}
    steps:
      - id: solc-release
        env:
          TAG: ${{ github.event.inputs.tag }}
        run: |
          echo ::set-output name=current_tag::v0.0.0
          version=${TAG#v}
          echo ::set-output name=release_tag::$TAG
          echo ::set-output name=release_version::$version

  build:
    needs: fetch-tags
    runs-on: self-hosted
    if: needs.fetch-tags.outputs.current_tag != needs.fetch-tags.outputs.release_tag
    steps:
      - uses: actions/checkout@v2
        with:
          repository: ethereum/solidity
          ref: ${{ needs.fetch-tags.outputs.release_tag }}
      - name: Build
        run: |
          touch prerelease.txt
          mkdir build
          cd build
          cmake .. -DCMAKE_BUILD_TYPE=Release
          make -j4
      - uses: actions/upload-artifact@v2
        with:
          name: solc
          path: build/solc/solc

  publish:
    needs: [fetch-tags, build]
    runs-on: self-hosted
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ github.ref }}
      - uses: actions/download-artifact@v2
        with:
          name: solc
          path: linux/aarch64
      - name: Rename binary
        run: |
          mv linux/aarch64/solc linux/aarch64/solc-${{ needs.fetch-tags.outputs.release_tag }}
      - if: github.event_name != 'workflow_dispatch'
        name: Update current tag
        run: |
          echo ${{ needs.fetch-tags.outputs.release_tag }} > linux/aarch64/.current-tag
      - name: Update list.json
        env:
          VERSION: ${{ needs.fetch-tags.outputs.release_version }}
        run: |
          shasum=$(sha256sum linux/aarch64/solc-${{ needs.fetch-tags.outputs.release_tag }})
          shasum=${shasum:0:64}

          jq 'del(.builds[] | select(.version == "$VERSION"))' linux/aarch64/list.json > list.json.tmp && mv list.json.tmp linux/aarch64/list.json

          jq --arg v "${{ needs.fetch-tags.outputs.release_version }}" --arg s "$shasum" '.builds += [{"version": $v, "sha256": $s}]' linux/aarch64/list.json > list-tmp.json && mv list-tmp.json linux/aarch64/list.json
          jq --arg v "${{ needs.fetch-tags.outputs.release_version }}" --arg t "solc-${{ needs.fetch-tags.outputs.release_tag }}" '.releases[$v] = $t' linux/aarch64/list.json > list-tmp.json && mv list-tmp.json linux/aarch64/list.json
      - name: Upload binary
        run: |
          if [[ $(git status -s) ]]; then
            git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git config --local user.name "github-actions[bot]"
            git add linux/aarch64/solc-${{ needs.fetch-tags.outputs.release_tag }}
            git add linux/aarch64/.current-tag
            git add linux/aarch64/list.json
            git commit -m "Add solc-${{ needs.fetch-tags.outputs.release_tag }} binary"
            git push
          fi
